.container {
	width: 80%;
	margin: 15px auto;
}

#caption {
	margin-left: 25px;
}

#statusTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#statusTable td,
#statusTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#statusTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#statusTable tr:hover {
	background-color: #ddd;
}

#statusTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

#dataChart{
	margin-bottom: 37px;
}

#buttonDiv {
	display:none;
}
