.container {
	width: 80%;
	margin: 15px auto;
}

#caption {
	margin-left: 25px;
}

#statusTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#statusTable td,
#statusTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#statusTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#statusTable tr:hover {
	background-color: #ddd;
}

#statusTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

#wrapper {
	/*width: 600px;
    margin: 0 auto;
    height: 200px;*/
	width: 100%;
	height: 300px;
	margin: 15px auto;
}

#one {
	padding-right: 5px;
	width: 33%;
	height: 350px;
	margin: 0;
	float: left;
}

#oneIn {
	width: 100%;
	height: 100%;
	background: white;
	float: left;
}

#two {
	/*    padding-left: 10px;
    padding-right: 10px;*/
	width: 33%;
	height: 300px;
	margin: 0;
	float: left;
}

#twoIn {
	width: 100%;
	height: 100%;
	background: white;
	margin: 0 auto;
}

#three {
	padding-left: 5px;
	width: 33%;
	height: 300px;
	margin: 0;
	float: left;
}

#threeIn {
	width: 100%;
	height: 100%;
	background: white;
	float: right;
}

#wrapper2 {
	width: 100%;
	height: 500px;
	margin: 15px auto;
}

#one2 {
	padding-right: 5px;
	width: 75%;
	height: 500px;
	margin: auto;
}

#oneIn2 {
	width: 100%;
	height: 100%;
	background: white;
}